# Use UNIX line endings when checkout/push changes.
# Removing extensions causes git to treat zip files as text as well,
# which makes them to be corrupted inside the repository after push.
#
*.java text eol=lf
*.md text eol=lf
*.gradle text eol=lf