*.RtpsServiceManager#* - Using following configuration: { "config": { "startPort": "7412", "networkIfaces": "*", "packetBufferSize": "65507", "domainId": "0", "guidPrefix": *, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "builtinEnpointsPort": "Optional*", "userEndpointsPort": "Optional*" }, "localParticpantGuid": { "guidPrefix": { "value": "*" }, "entityId": "ENTITYID_PARTICIPANT" } }
*.SedpService#* - Starting SEDP service on { "transportType": "LOCATOR_KIND_UDPv4", "port": "*", "address": "/*" }
*.RtpsMessageReceiver#*-SedpReceiver - Subscribing *-ENTITYID_SEDP_BUILTIN_SUBSCRIPTIONS_DETECTOR
*.RtpsMessageReceiver#*-SedpReceiver - Subscribing *-ENTITYID_SEDP_BUILTIN_PUBLICATIONS_DETECTOR
*.SpdpService#*-eth0 - Starting SPDP service on eth0
*.RtpsMessageReceiver#*-eth0-SpdpReceiver - Subscribing *-eth0-ENTITYID_SPDP_BUILTIN_PARTICIPANT_DETECTOR
*.SpdpService#*-lo - Starting SPDP service on lo
*.RtpsMessageReceiver#*-lo-SpdpReceiver - Subscribing *-lo-ENTITYID_SPDP_BUILTIN_PARTICIPANT_DETECTOR
*.UserDataService#* - Starting user service on { "transportType": "LOCATOR_KIND_UDPv4", "port": "*", "address": "/*" }
*
