*.MetatrafficUnicastService#* - Starting metatraffic unicast service on { "transportType": "LOCATOR_KIND_UDPv4", "port": "74*", "address": "/*" }
*.UserDataService#* - Starting user service on { "transportType": "LOCATOR_KIND_UDPv4", "port": "74*", "address": "/*" }
*
