*.SpdpService - Starting SPDP service on eth0 using following configuration: { "networkIfaces": [{ "ipAddress": "/172.17.0.2", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/172.17.0.2" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/172.17.0.2" } }, { "ipAddress": "/127.0.0.1", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/127.0.0.1" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/127.0.0.1" } }], "packetBufferSize": "65507", "domainId": "0", "guidPrefix": { "value": * }, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "localParticpantGuid": { "guidPrefix": { "value": * }, "entityId": "ENTITYID_PARTICIPANT" } }
*.SedpService - Starting SEDP service on eth0 using following configuration: { "networkIfaces": [{ "ipAddress": "/172.17.0.2", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/172.17.0.2" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/172.17.0.2" } }, { "ipAddress": "/127.0.0.1", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/127.0.0.1" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/127.0.0.1" } }], "packetBufferSize": "65507", "domainId": "0", "guidPrefix": { "value": * }, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "localParticpantGuid": { "guidPrefix": { "value": * }, "entityId": "ENTITYID_PARTICIPANT" } }
*.UserDataService - Starting user service on eth0 using following configuration: { "networkIfaces": [{ "ipAddress": "/172.17.0.2", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/172.17.0.2" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/172.17.0.2" } }, { "ipAddress": "/127.0.0.1", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/127.0.0.1" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "<not yet initialized>", "address": "/127.0.0.1" } }], "packetBufferSize": "65507", "domainId": "0", "guidPrefix": { "value": * }, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "localParticpantGuid": { "guidPrefix": { "value": * }, "entityId": "ENTITYID_PARTICIPANT" } }
*.SpdpService - Starting SPDP service on lo using following configuration: { "networkIfaces": [{ "ipAddress": "/172.17.0.2", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/172.17.0.2" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8081", "address": "/172.17.0.2" } }, { "ipAddress": "/127.0.0.1", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/127.0.0.1" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8081", "address": "/127.0.0.1" } }], "packetBufferSize": "65507", "domainId": "0", "guidPrefix": { "value": * }, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "localParticpantGuid": { "guidPrefix": { "value": * }, "entityId": "ENTITYID_PARTICIPANT" } }
*.SedpService - Starting SEDP service on lo using following configuration: { "networkIfaces": [{ "ipAddress": "/172.17.0.2", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/172.17.0.2" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8081", "address": "/172.17.0.2" } }, { "ipAddress": "/127.0.0.1", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/127.0.0.1" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8081", "address": "/127.0.0.1" } }], "packetBufferSize": "65507", "domainId": "0", "guidPrefix": { "value": * }, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "localParticpantGuid": { "guidPrefix": { "value": * }, "entityId": "ENTITYID_PARTICIPANT" } }
*.UserDataService - Starting user service on lo using following configuration: { "networkIfaces": [{ "ipAddress": "/172.17.0.2", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/172.17.0.2" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8081", "address": "/172.17.0.2" } }, { "ipAddress": "/127.0.0.1", "metatrafficUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8080", "address": "/127.0.0.1" }, "defaultUnicastLocator": { "transportType": "LOCATOR_KIND_UDPv4", "port": "8081", "address": "/127.0.0.1" } }], "packetBufferSize": "65507", "domainId": "0", "guidPrefix": { "value": * }, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "localParticpantGuid": { "guidPrefix": { "value": * }, "entityId": "ENTITYID_PARTICIPANT" } }
*
