*.RtpsServiceManager#* - Using following configuration: { "config": { "startPort": 7412, "networkIfaces": "*", "packetBufferSize": 65508, "domainId": 0, "guidPrefix": *, "builtinEndpointQos": "NONE", "leaseDuration": "PT20S", "builtinEnpointsPort": *, "userEndpointsPort": * }, "localParticpantGuid": { "guidPrefix": *, "entityId": "ENTITYID_PARTICIPANT" }, "maxSubmessageSize": 65488 }
*.MetatrafficUnicastService#* - Starting metatraffic unicast service on { "transportType": "LOCATOR_KIND_UDPv4", "port": *, "address": "/*" }
*.MetatrafficUnicastReceiver#* - Subscribing *-ENTITYID_SEDP_BUILTIN_SUBSCRIPTIONS_DETECTOR
*.MetatrafficUnicastReceiver#* - Subscribing *-ENTITYID_SEDP_BUILTIN_PUBLICATIONS_DETECTOR
*.UserDataService#* - Starting user service on { "transportType": "LOCATOR_KIND_UDPv4", "port": *, "address": "/*" }
*.MetatrafficMulticastService#*-${IFACE} - Starting metatraffic multicast service on ${IFACE}
*.MetatrafficMulticastReceiver#*-${IFACE} - Subscribing *-${IFACE}-ENTITYID_SPDP_BUILTIN_PARTICIPANT_DETECTOR
*
