*.TopicSubscriptionsManager#* - Discovered publisher for topic HelloWorldTopic0 type HelloWorld with endpoint { "guidPrefix": *, "entityId": "00000103" }
*.TopicSubscriptionsManager#* - Adding subscriber for topic id { "name": "HelloWorldTopic0", "type": "HelloWorld" }
*.TopicSubscriptionsManager#* - New subscribe event for topic id { "name": "HelloWorldTopic0", "type": "HelloWorld" }: { "guidPrefix": *, "entityId": "00000103" }
*