*.TopicSubscriptionsManager#* - Discovered Publisher for topic HelloWorldTopic0 type HelloWorld with following details { "endpointGuid": { "guidPrefix": *, "entityId": "00000*" }, *, "reliabilityKind": "RELIABLE", "durabilityKind": "TRANSIENT_LOCAL_DURABILITY_QOS" }
*.TopicSubscriptionsManager#* - Adding Subscriber with following details { "topicId": { "name": "HelloWorldTopic0", "type": "HelloWorld" }, "qosPolicy": { "reliabilityKind": "RELIABLE", "durabilityKind": "TRANSIENT_LOCAL_DURABILITY_QOS" } }
*.TopicSubscriptionsManager#* - New subscribe event for topic id { "name": "HelloWorldTopic0", "type": "HelloWorld" }: { "remoteActor": { "endpointGuid": { "guidPrefix": { "value": "*" }, "entityId": "00000*" }, "writerUnicastLocator": [{ "transportType": "LOCATOR_KIND_UDPv4", "port": "*", "address": "/*" }], "reliabilityKind": "RELIABLE", "durabilityKind": "TRANSIENT_LOCAL_DURABILITY_QOS" }, "localActor": { "topicId": { "name": "HelloWorldTopic0", "type": "HelloWorld" }, "qosPolicy": { "reliabilityKind": "RELIABLE", "durabilityKind": "TRANSIENT_LOCAL_DURABILITY_QOS" } } }
*